<%- include('../../partials/header')%>
<%-include('../../partials/navbar')%>

<div class="container">
  <hr />
  <h2>Categorias</h2>
  <hr />
  <table class="table table-bordered ">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Título</th>
        <th scope="col">Slug</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <th>Dev Web</th>
        <th>dev-web</th>
        <th></th>
      </tr>
    </tbody>
  </table>
</div>

<%- include('../../partials/footer') %>
