<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a href="/">
    <img class="m-2" src="/img/guia.png" alt="Logo guia do programador" />
  </a>

  <ul class="navbar-nav ml-auto mx-3">
    <li class="nav-item">
      <a class="nav-link" href="/admin/categories">Categorias</a>
    </li>
  </ul>
</nav>
