<div class="modal" tabindex="-1" id="confirmationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmação</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>Tem certeza que deseja excluir esta categoria?</p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-danger" id="confirmDelete">
          Excluir
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  function confirmarDelete(event, form) {
    event.preventDefault();

    var myModal = new bootstrap.Modal(
      document.getElementById('confirmationModal'),
      {}
    );
    myModal.show();

    document
      .getElementById('confirmDelete')
      .addEventListener('click', function () {
        form.submit();
      });
  }
</script>
